.hide {
  display: none;
}

/* #region Common */

/* Скидання підкреслення для посилань */
a {
  text-decoration: none;
}

/* Скидання стилю маркерів для списків */
ul,
ol {
  list-style-type: none;
  padding-left: 0; /* Опціонально, для видалення відступу у списках */
  margin: 0; /* Опціонально, для видалення відступу у списках */
}

/*Обнулення дефолтних margine від браузера*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* Mobile screen - base styles */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  background-color: rgb(172, 220, 229);
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: auto;
  }
}

/* Mobile screen - base styles */
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin: 0 auto;
  max-width: 496px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;

    margin-bottom: 72px;
  }
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;

    margin-bottom: 72px;
  }
}

/* #endregion Common*/

/* #region Body */

/* #region Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
}

.header-logo {
  margin: 16px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

/* Mobile screen */
.nav-list {
  display: none;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
    transition: 250ms, ease-in;
    transition-property: color;
  }
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.nav-item {
}

.nav-link {
  position: relative;
  color: #404bbf;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}

.nav-link-studio {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio::after {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 100%;
  display: block;
  background-color: transparent;
  position: absolute;
  bottom: -1px;
  background-color: #404bbf;
}

.nav-link-studio:hover::after {
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus::after {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

/* Mobile screen */
.contacts-list {
  display: none;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 12px;
    padding-left: 16px;
  }
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .contacts-item {
    padding-right: 40px;
  }
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion Header */

/* #region Hero */

.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion Hero*/

/* #region Main */

/* Mobile screen */
.main {
  padding: 16px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .main {
    /*padding: 120px 0;*/
    padding: 16px;
  }
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .main {
    padding: 156px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.picture-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Mobile screen */
.main-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .main-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .main-list {
    gap: 24px;
  }
}

/* Mobile screen */
.main-item {
  /* width: calc((100% - 3 * 24px) / 4);*/
  max-width: 288px;
}

/* Mobile screen */
.main-subtitle {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  text-align: center;

  margin-bottom: 8px;
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .main-subtitle {
    font-size: 20px;
    font-weight: 500;
  }
}

/* Mobile screen */
.main-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #434455;
}

/* Decktop screen */
@media only screen and (min-width: 1158px) {
  .main-text {
    font-weight: 400;
  }
}
/* #endregion Main*/

/* #region Team */

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.item-sub {
  padding: 32px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
}

.team-subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  letter-spacing: 0.02em;
  background-color: #ffffff;
  line-height: 1.5;
  text-align: center;
}
/* #endregion Team*/

/* #region Portfolio */

.portfolio {
  padding: 120px 0;
}

.port-cont {
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
  /*transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.portfolio-subtitle {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* #endregion Portfolio*/

/* #endregion Body */

/* #region Footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.blok1 {
  margin-right: 120px;
  width: 264px;
}

.blok2 {
}

.social-bloks {
  display: flex;
  gap: 16px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 100%;
  font-weight: 400;
  color: #ffffff;
}

.footer-text-social {
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 100%;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.blok-form {
  margin-left: auto;
}

.footer-text-subscribe {
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe {
  margin-bottom: 16px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.input-subscribe {
  outline: none;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  padding: 8px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
input[type="email"]::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.input-subscribe:focus {
  border: 1px solid #31d0aa;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submiton:focus {
  background-color: #31d0aa;
}

.send-icon {
  fill: #fff;
  margin-left: 16px;
}
/* #endregion footer*/

/* #region Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  width: auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-field-textarea {
  width: 360px;
  min-height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-wrapper-textarea {
  width: 100%;
  height: 100%;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 14px 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon:focus {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  fill: #2e2f42;
  transform: translateY(-50%);
  pointer-events: none;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon-checkbox {
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close:hover > .btn-icon,
.btn-close:focus > .btn-icon {
  fill: #fff;
}

.modal-btn-send {
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}

.checkbox-container {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(46, 47, 66, 0.08);
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1) visibility 250ms
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Основное состояние чекбокса */
.input-checkbox visually-hidden {
  display: none; /* Скрываем стандартный чекбокс */
}

/* Стили для кастомного элемента (по умолчанию) */
.text-checkbox .span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Размер контейнера */
  height: 20px;
  background-color: transparent; /* Фон по умолчанию */
  border: 1px solid #ccc; /* Граница по умолчанию */
  border-radius: 4px; /* Скругленные углы */
  transition: all 0.3s ease; /* Плавный переход */
}
/* Стили для SVG-иконки внутри span */
.text-checkbox .span-privacy svg {
}

/* Когда input находится в состоянии checked */
.input-checkbox:checked + .span-privacy {
  border: none;
  fill: #f4f4fd;
}
.input-checkbox visually-hidden:checked + .span-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* Изменение цвета иконки при checked */
.input-checkbox visually-hidden:checked + .text-checkbox .span-privacy svg {
  fill: var(
    --checked-icon-color,
    #f4f4fd
  ); /* Используем CSS-переменную или дефолтное значение */
}
.modal-form-input:checked + .modal-form-icon {
  background-color: #404bbf;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.span-privacy {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox visialy-hidden {
  margin-right: 8px;
}

.comment-overlay {
  margin-bottom: 16px;
}

.text-input-holder {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input-holder:focus {
  border-color: #4d5ae5;
}

.form-field {
  margin-bottom: 24px;
}

.text-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.link-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.input-checkbox:checked + .text-checkbox .span-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* #endregion */

/* #region Mobile menu */
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  background-color: transparent;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
/* #endregion Mobile menu */
